<footer style="">
      <div class="container">
        <p>&copy; Team A255. All Rights Reserved.</p>
        
      </div>
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/popper/popper.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/public/js/bootstrapValidator.js"></script>
	
    <!-- Plugin JavaScript -->
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>



    <!-- Custom scripts for this template -->
    <script src="/public/js/new-age3.js"></script>
    <script src="/public/js/registo.js"></script>
    

  </body>

</html>
